<%- include("partials/header")%>
<div id="newcon"class="container">
<div id="newter"class="row">
    <div class="col-12">
        <h1 class="text-center">NEW COURSE</h1>
        <form action="/departments/<%=department._id%>/course" method="POST">
            <div class="form-label-group">
            <label class="form-label"for="name">Course Name</label>
            <input class="form-control" type="text" name="name" id="CourseName" required="required">
            </div>
            <div class="form-label-group">
                <label class="form-label" for="code">Subject Code</label>
                <input class="form-control" type="text" name="code" id="CourseCode" required="required">
                </div>
                <div class="form-label-group">
                    <label class="form-label" for="faculty">Faculty Name</label>
                    <input class="form-control" type="text" name="faculty" id="CourseFaculty" required="required">
                    </div>
                    <div class="mb-3">
                <button id="new2" class="btn btn-success">ADD</button>
            </div>
        </form>
           </div>
         </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<%- include("partials/footer")%>